.contato{

    background-color: var(--branco);
    padding: 1em;
    text-align: center;
}

.contato__titulo{

    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 500;

}

.contato__texto{

    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    margin: 1em 0;

}

.contato__email{

    color: var(--azul);
    background-color: transparent;
    border: 1px solid var(--azul);
    border-radius: 24px;
    padding: 1em;
    width: 90%;
    
}

.contato__email::placeholder{

    font-family: var(--fonte-principal);
    font-weight: 400;
    color: var(--azul);
    text-align: center;
    background: url("../img/Email.svg");
    background-repeat: no-repeat;

}

@media screen and (min-width:1024px) {

    .contato{

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__email{

        width: 30%;

    }

    .contato__descricao{

        margin-right: 1em;
        width: 30%;
    }

    .contato__titulo{

        font-size: 24px;

    }

}

@media screen and (min-width:1728px){

   .contato{

    padding: 3em 20vw;

   } 

} 